@font-face {
  font-family: "Roboto Light";
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto Light", sans-serif;
  text-transform: uppercase;
}

.body-web {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.background-image {
  position: absolute;
  z-index: 4;
  width:100%;
  height:100%;
}

.overlay {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
}

.button-setting{
  display: flex;
  margin-bottom: 60px;
}

.map-web {
  border-radius: 8px;
  width: 700px;
  height: 500px;
  margin-bottom: 70px;
}

.input-group {
  display: flex;

}

.mapboxgl-ctrl-geocoder {
  margin-bottom: 70px;
}

.refresh-background-button{
  padding: 28px;
  width: 44px;
  height: 44px;
}

.container-weather {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.text-info-weather-container {
  display: flex;
  flex-direction: column;
}

.info-main-box {
  display: flex;
}

.icon-main-weather {
  position: relative;
  top: 10px;
  right: 58px;
  width: 130px;
  height: 140px;
}

.detailed-weather {
  display: flex;
  flex-direction: column;
  font-size: 34px;
}

.degrees-main-weather {
  font-size: 250px;
}

.next-day-description-weather {
  display: flex;
  justify-content: space-between;
}

.additional-day-icon {
  position: relative;
  bottom: 17px;
  right: 12px;
}

.additional-day-icon {
  position: relative;
  bottom: 17px;
  right: 12px;
}

.error-notification {
  z-index: 10;
  position: absolute;
  bottom: 10px;
  left: 40px;
}
