body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-weather-box{
  display: flex;
}

.detailed-weather{
  display: flex;
  flex-direction: column;
}

.map-web {
  width: 800px;
  height: 500px;
}
